/* This file is linked with task4. */
body{
    background-color: blue;
}
section{
    background-color:rgb(221, 21, 54);
    color: white;
}
button{
    background-color: red;
    color:white;
    margin-left: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}